# Temp work dir
seafile-ignore.txt
.vscode/
.VSCodeCounter/
.pytest_cache/
__pycache__/
.idea/

# Install info.
*.egg-info/
*.pyx
*.pyd
**/csrc/*.pyd
**/csrc/*.so
**/csrc/*.dll
dist/
\.eggs/

# Intermediate output files
build
_build
export/
model/
output/